<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %><p>
        <%= @user.name %><p>
        <%= @user.birthday %><p>
        <%= @user.sex %><p>
        <%= @user.address %><p>
        <%= @user.phone_number %><p>
        <%= @user.email %>
      </h1>
    </section>
  </aside>
</div>